/*===== FONTES EXTERNAS =====*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* ===== TAILWIND BASE ===== */
@import "tailwindcss";

